/* shared style */

*{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.nav title{

color:black;

font-size: 45px;
font-weight: 800;
line-height: normal;
}

.text-primary{ color: #FD6E0A;
    
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    font-size: 10px;
    font-weight: 400;
    color: azure;
    padding: 15px 30px;
}

nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style:none;
    margin-right: 50px; 
}
nav a{
    text-decoration: none;
    color: #474747;
    font-size: 10px;
    font-weight: 400;
   
    }